<% if local_assigns[:mine] && !message.deleted_for_everyone? %>
  <% if message.status_read? %>
    <span class="inline-flex -ml-0.5" aria-label="Lido">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5 text-[#53bdeb]" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" /></svg>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5 text-[#53bdeb] -ml-1.5" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" /></svg>
    </span>
  <% elsif message.status_delivered? %>
    <span class="inline-flex -ml-0.5" aria-label="Entregue (cliente recebeu)">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5 text-[#8696a0]" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" /></svg>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5 text-[#8696a0] -ml-1.5" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" /></svg>
    </span>
  <% elsif message.status_sent? %>
    <span class="inline-flex" aria-label="Enviado (não recebido ainda)">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5 text-[#8696a0]" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" /></svg>
    </span>
  <% else %>
    <span class="inline-flex" aria-label="Na fila (aguardando envio)">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5 text-[#8696a0]" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-12a1 1 0 10-2 0v4a1 1 0 00.293.707l2.828 2.829a1 1 0 101.415-1.415L11 9.586V6z" clip-rule="evenodd" /></svg>
    </span>
  <% end %>
<% end %>
